/* Theme Colors */
:root {
    /* Coral Theme */
    --gunmetal: #2D3142;
    --silver: #3a3a3a;
    --antiWhite: #ffffff;
    --coral: #EF8354;
    --paynesGray: #4F5D75;
    --darkBlue: #002E4F;
    --yellow: #FFDD00;

    /* TnTech Colors */
    --techPurple: #4f2984;

    /* PSTCC Colors */
    --pstccBlue: #004b8e;

    /* Dark mode Colors */
    --darkBG: #0b1b23;
    --darkCard: #193e51;
}

body {
    background-color: var(--antiWhite);
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background-color: var(--antiWhite);
    border-left: 6px solid var(--coral);
}

.hero {
    border-left: 6px solid var(--coral);
}

/* Card Background */
.int {
    color: white;
    padding: 5%;
    background-color: var(--paynesGray);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
}

.dark-int {
    padding: 5%;
    background-color: var(--darkCard);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
}

.navbar-toggler {
    background-color: var(--gunmetal);
    color: white;
}

.footer {
    background-color: var(--paynesGray);
    border-left: 6px solid var(--coral);
    color: rgb(30,30,30);
}

.btn {
    background-color: var(--coral);
    color: rgb(255, 254, 254);
    margin-top: 5px;
}

.btn-cards {
    background-color: var(--coral);
    color: rgb(255, 255, 255);
}

.btn:hover {
    background-color: var(--coral);
    color: white;
}

.tech-container {
    background-color: var(--techPurple);
    color: var(--yellow);
}

.pstcc-container {
    background-color: var(--pstccBlue);
    color: var(--yellow);
}

.tech-container, .pstcc-container {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-left: 5px solid var(--yellow);
    border-radius: 10px;
}

/* Dark Mode CSS Start */

.dark-toggler {
    background-color: var(--coral);
    color: white;
}

.dark-mode-nav {
    background-color: var(--darkBG);
    border-left: 6px solid var(--coral);
}

.dark-nav-link {
    color: white;
}

.dark-mode-hero {
    background-color: var(--darkBG);
    border-left: 6px solid var(--coral);
}

.dark-mode-body {
    background-color: var(--darkBG);
    color: white
}

.dark-mode-container {
    background-color: var(--darkBG);
}

.dark-mode-footer {
    background-color: var(--darkCard);
    border-left: 6px solid var(--coral);
    color: aliceblue;
}

/* Dark Mode CSS End */

body, .card, .card-header, .card-body, .card-footer, .navbar, .hero, .footer, .int, .proj {
    transition: 0.2s;
}

.nav-link {
    display: inline-block;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--coral);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

#profilePhoto {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#email {
    color: aliceblue;
}

#email:hover {
    color:rgb(10, 120, 238);
}

.btn:has(i) {
    background-color: #6e5494;
}

.btn:has(i):hover {
    background-color: #6e5494;
}